/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url(../img/wall.png);
}

/* #endregion common */

/* #region fonts */
.google_font_title {
    font-family: "Edu TAS Beginner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

#giga_title {
    font-size: 88px;
}

.google_font_date {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
}

/* #endregion fonts */

/* #region layout */
#cork_wall {
    background-image: url(../img/cork.png);
    border: 3px solid black;
}

#cards_container {
    padding: 3rem;
}

.my_card {
    position: relative;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px black;
    margin: 3rem;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.pin {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 1%;
    left: 50%;
}


.my_overlay {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);

    .my_overlay_pic {
        z-index: 100;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1 !important;
    }
}

.close_my_overlay {
    z-index: 1000;
    position: absolute;
    z-index: 100;
    font-size: 4rem;

    i {
        width: 6rem;
        height: 6rem;
    }
}


/* #endregion layout */

/* #region buttons */
.close_my_overlay:hover {
    cursor: pointer;
    font-size: 50px;
    font-size: 5rem;
    transition: all .5s;
    transform: rotate(90deg);
}

.my_overlay_pic:hover {
    transition: all .5s;
    zoom: 80%;
}


/* #endregion buttons */

/* #region media query */

/* from 0 to very small */
@media screen and (max-width: 399px) {
    #giga_title {
        font-size: 50px;
    }

    .my_card {
        padding: 1rem;
    }

    .close_my_overlay {
        top: 13%;
        right: 0;
    }
}

/* from very small to phone */
@media screen and (min-width: 400px) and (max-width: 566.99px) {
    #giga_title {
        font-size: 70px;
    }

    .my_card {
        padding: 2rem;
    }

    .close_my_overlay {
        top: 13%;
        right: 0;
    }

    .my_overlay_pic:hover {
        zoom: 100%;
    }
}

/* from phone tp tablet */
@media screen and (min-width: 567px) and (max-width: 767.99px) {

    .close_my_overlay {
        top: 14%;
        right: 5%;
    }

    .my_overlay_pic:hover {
        zoom: 110%;
    }
}

/* from tablet to desktop */
@media screen and (min-width:768px) and (max-width: 991.99px) {

    .close_my_overlay {
        top: 14%;
        right: 3%;
    }

    .my_overlay_pic:hover {
        zoom: 130%;
    }
}

/* from desktop up */
@media screen and (min-width: 992px) {

    .close_my_overlay {
        cursor: pointer;
        top: 15%;
        right: 12%;
    }

    .my_overlay_pic:hover {
        zoom: 150%;
    }
}

/* #endregion media query */