/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url(../img/wall.png);
}

/* #endregion common */


/* #region fonts */
.google_font_title {
    font-family: "Edu TAS Beginner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 88px;
}

.google_font_date {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* #endregion fonts */

#cork_wall {
    background-image: url(../img/cork.png);
    border: 3px solid black;
}